# **Financial Risk Exploratory Data Analysis**

# Data Dictionary

- **1. tipo_credito:**
- **2. fecha_prestamo:**
- **3. capital_prestado:**
- **4. plazo_meses:**
- **5. edad_cliente:**
- **6. tipo_laboral:**
- **7. salario_cliente:**
- **8. total_otros_prestamos:**
- **9. cuota_pactada:**
- **10. puntaje:**
- **11. puntaje_datacredito:**
- **12. cant_creditosvigentes:**
- **13. huella_consulta:**
- **14. saldo_mora:**
- **15. saldo_total:**
- **16. saldo_principal:**
- **17. saldo_mora_codeudor:**
- **18. creditos_sectorFinanciero:**
- **19. creditos_sectorCooperativo:**
- **20. creditos_sectorReal:**
- **21. promedio_ingresos_datacredito:**
- **22. tendencia_ingresos:**
- **23. Pago_atiempo:**

In [5]:
# Library Imports

import os
from dotenv import load_dotenv
from pathlib import Path
import openpyxl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

In [7]:
# Load Environment

pth = Path(os.getenv("DATA_FILE"))

# Load Data

df = pd.read_excel(pth / "BD_creditos.xlsx")

df.sample(10)

,tipo_credito,fecha_prestamo,capital_prestado,plazo_meses,edad_cliente,tipo_laboral,salario_cliente,total_otros_prestamos,cuota_pactada,puntaje,...,saldo_mora,saldo_total,saldo_principal,saldo_mora_codeudor,creditos_sectorFinanciero,creditos_sectorCooperativo,creditos_sectorReal,promedio_ingresos_datacredito,tendencia_ingresos,Pago_atiempo
6946,4,2024-11-28 14:28:35,839880.0,6,31,Empleado,1600000,400000,124688,95.227787,...,0.0,53.0,53.0,0.0,1,0,0,2281939.0,Decreciente,1
5344,4,2025-07-21 11:51:56,1081078.8,8,56,Empleado,1139584,0,122438,95.227787,...,0.0,0.0,0.0,0.0,0,0,1,1183008.0,Decreciente,1
2787,4,2025-01-25 12:05:01,830400.0,8,53,Independiente,4000000,1000000,94267,90.562453,...,0.0,831.0,831.0,0.0,0,0,2,NaN,NaN,1
1817,4,2025-05-20 18:09:52,1559760.0,6,62,Empleado,3000000,1500000,232454,95.227787,...,0.0,50947.0,50947.0,0.0,3,0,0,NaN,NaN,1
5945,4,2025-07-26 14:45:35,1037520.0,6,38,Empleado,1000000,831000,155383,90.562453,...,0.0,28140.0,28140.0,0.0,4,0,0,891666.0,Creciente,1
1767,4,2025-01-05 17:48:54,1271640.0,12,55,Independiente,3500000,500000,88308,95.227787,...,0.0,28621.0,26826.0,0.0,7,1,0,NaN,NaN,1
3021,9,2025-05-11 13:10:58,2049057.6,10,61,Empleado,4000000,1000000,174248,95.227787,...,0.0,72516.0,72516.0,0.0,2,1,3,939017.0,Creciente,1
9675,4,2025-10-07 18:12:14,3646320.0,6,32,Empleado,3510000,381000,551436,95.227787,...,0.0,6094.0,6094.0,0.0,4,0,0,4689421.0,Creciente,1
5769,4,2025-04-21 14:12:59,2702400.0,12,48,Empleado,1800000,600000,212664,95.227787,...,0.0,0.0,0.0,0.0,1,0,0,1466586.0,Creciente,1
7500,4,2025-02-10 18:13:53,3360000.0,12,32,Empleado,2500000,350000,264741,95.227787,...,0.0,3523.0,3523.0,0.0,2,0,1,90853.0,Creciente,1

In [8]:
# Dataset Dimensions

df.shape

(10763, 23)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10763 entries, 0 to 10762
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   tipo_credito                   10763 non-null  int64
 1   fecha_prestamo                 10763 non-null  datetime64[ns]
 2   capital_prestado               10763 non-null  float64
 3   plazo_meses                    10763 non-null  int64
 4   edad_cliente                   10763 non-null  int64
 5   tipo_laboral                   10763 non-null  object
 6   salario_cliente                10763 non-null  int64
 7   total_otros_prestamos          10763 non-null  int64
 8   cuota_pactada                  10763 non-null  int64
 9   puntaje                        10763 non-null  float64
 10  puntaje_datacredito            10757 non-null  float64
 11  cant_creditosvigentes          10763 non-null  int64
 12  huella_consulta                10763 non-null  int64
 13  saldo_mora                     10607 non-null  float64
 14  saldo_total                    10607 non-null  float64
 15  saldo_principal                10358 non-null  float64
 16  saldo_mora_codeudor            10173 non-null  float64
 17  creditos_sectorFinanciero      10763 non-null  int64
 18  creditos_sectorCooperativo     10763 non-null  int64
 19  creditos_sectorReal            10763 non-null  int64
 20  promedio_ingresos_datacredito  7833 non-null   float64
 21  tendencia_ingresos             7831 non-null   object
 22  Pago_atiempo                   10763 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(12), object(2)
memory usage: 1.9+ MB

In [14]:
# See the categories in "object" columns

df["tipo_laboral"].unique()

array(['Empleado', 'Independiente'], dtype=object)

In [15]:
# See the categories in "object" columns

df["tendencia_ingresos"].unique()

array(['Creciente', nan, 'Estable', 'Decreciente', 8315, 0, 158042, 3978,
       9147, 168750, -28589, 1000000, -566272, 24702, 31837, 122727,
       417087, 9090, 173031, -70715, -435177, -702927, -4105, 54683,
       22832, 209090, 5697, -288, -164315, 2029000, 17181, 15245, 82657,
       52862, 1817052, 75761, 146918, 1123000, 15090, 4250635, 22363,
       -101368, 86286, 65988, 77975, -224714, 10808], dtype=object)

# Count of Nulls

In [16]:
print(df.isnull().sum().sort_values(ascending = False))

tendencia_ingresos               2932
promedio_ingresos_datacredito    2930
saldo_mora_codeudor               590
saldo_principal                   405
saldo_mora                        156
saldo_total                       156
puntaje_datacredito                 6
salario_cliente                     0
tipo_laboral                        0
edad_cliente                        0
plazo_meses                         0
capital_prestado                    0
fecha_prestamo                      0
tipo_credito                        0
total_otros_prestamos               0
cant_creditosvigentes               0
huella_consulta                     0
cuota_pactada                       0
puntaje                             0
creditos_sectorCooperativo          0
creditos_sectorFinanciero           0
creditos_sectorReal                 0
Pago_atiempo                        0
dtype: int64